.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  
}
.table {
  color: white !important;
  position: absolute;
}
.tableImage{
  width: 50px;
}
.slotImages {
  height: 200px;
  width: 234px;
}

.slotMachine {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 0 auto;
  height: 289px;
  width: 761px;
  position: relative;
  padding-bottom: 45px;
}





.toogle-emoji {
  align-items: center;
    display: flex;
    height: 10px;
    justify-content: center;
    position: relative;
    width: 10px;
}

.scene {
  width: 234px;
  height: 200px;
  position: relative;
 
}

.reel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.reel__cell {
  position: absolute;
  width: 234px;
  height: 200px; 
  background: rgb(255, 255, 255, 1);
}
.balance {
  text-align: left;
  color: white;
}
.award {
  border-top: 0px;
}
@keyframes awardBlink {
  from { background-color: yellow; }
  to { background-color: inherit; }
}
.awardBlink {
  -webkit-animation: awardBlink 0.4s ; /* Safari 4+ */
  -moz-animation:    awardBlink 0.4s ; /* Fx 5+ */
  -o-animation:      awardBlink 0.4s ; /* Opera 12+ */
  animation:         awardBlink 0.4s ; /* IE 10+ */
  animation-iteration-count: 4;
}

@keyframes lineBlink {
  from { background-color: red; }
  to { background-color: inherit; }
}
.lineBlink {
  -webkit-animation: lineBlink 0.4s ; /* Safari 4+ */
  -moz-animation:    lineBlink 0.4s ; /* Fx 5+ */
  -o-animation:      lineBlink 0.4s ; /* Opera 12+ */
  animation:         lineBlink 0.4s ; /* IE 10+ */
  animation-iteration-count: 4;
}


.redLine-top {
  height: 27px;
    width: 800px;
    position: absolute;
    z-index: 1010;
    top: 6%;
    
}
.redLine-center {
  height: 27px;
    width: 800px;
    position: absolute;
    z-index: 1010;
    top: 47%;
    
}
.redLine-bottom {
  height: 27px;
    width: 800px;
    position: absolute;
    z-index: 1010;
    top: 90%;
    
}