.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  
}
.table {
  color: white !important;
  position: absolute;
}
.tableImage{
  width: 50px;
}
.slotImages {
  height: 200px;
  width: 234px;
}

.slotMachine {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  margin: 0 auto;
  height: 289px;
  width: 761px;
  
  padding-bottom: 45px;
}
.toogle-emoji {
  align-items: center;
    display: flex;
    height: 10px;
    justify-content: center;
    position: relative;
    width: 10px;
}

.scene {
  width: 234px;
  height: 200px;
  position: relative;
 
}

.reel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.reel__cell {
  position: absolute;
  width: 234px;
  height: 200px; 
  background: rgb(255, 255, 255, 1);
}
.balance {
  text-align: left;
  color: white;
}

@keyframes invalid {
  from { background-color: red; }
  to { background-color: inherit; }
}
.invalid {
  -webkit-animation: invalid 2s infinite; /* Safari 4+ */
  -moz-animation:    invalid 2s infinite; /* Fx 5+ */
  -o-animation:      invalid 2s infinite; /* Opera 12+ */
  animation:         invalid 0.4s infinite; /* IE 10+ */
}